footer {
  text-align: center;
  padding: 2rem 0;
  color: white;
  background-color: black;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

footer p, footer a {
  padding: 0 0.5rem;
} 